---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="hero">
      <img
        src="/webp/hero_abonnement.webp"
        alt="billede af blomsterbuket på en bænk"
      />
      <!-- <p class="p_hero">
        <strong>
          Et abonnement er en perfekt måde at skabe en dejlig stemning i dit
          hjem, i din virksomhed eller give i gave til en, der står dig nær.
        </strong>
      </p> -->
      <!-- <a class="a_hero" href="">Start abonnement</a> -->
    </section>
    <section class="step_by_step">
      <h1>Sådan fungerer det</h1>
      <p class="obs">
        OBS: Da blomsterne kommer fra egen gård, er abonnementer kun mulige fra
        juli til august
      </p>
      <div class="grid_1-1-1">
        <div class="del_3">
          <h2>Vælg leveringsform</h2>
          <p>
            Gratis levering i 4622 Havdrup og 2680 Solrød Strand. Øvrige
            postnumre mod tillæg. Gratis afhentning muligt på Gaardblomsten i
            Gammel Havdrup hver tirsdag.
          </p>
        </div>
        <div class="del_3">
          <h2>Vælg abonnement</h2>
          <p>
            Nyd friske blomster hver uge. Ingen buketter er ens, men afhænger af
            måneden.
          </p>
          <p class="valg_mellem"><strong>Vælg mellem:</strong></p>
          <p class="uger">4 uger - 700 kr.</p>
          <p class="uger">6 uger - 1050 kr.</p>
        </div>
        <div class="del_3">
          <h2>Send formular</h2>
          <p>
            Glæd dig til en modtage en unik blomsterbuket hver tirsdag i den
            abonnements-periode du vælger. Vi er glade på Gaardblomstens for I
            er en del af noget særligt - hver dag.
          </p>
        </div>
      </div>
    </section>
    <section class="section_lightgreen">
      <h3 class="overskrift_form">Start dit abonnement og udfyld formularen</h3>
      <div class="form">
        <div class="venstre">
          <input type="text" id="name" name="name" placeholder="Dit navn" />
          <input
            type="text"
            id="adresse"
            name="adresse"
            placeholder="Adresse"
          />
          <select name="valg" id="valg">
            <option value="">Vælg leveringsform</option>
            <option value="4 uger">Afhentning</option>
            <option value="6 uger">Levering</option>
          </select>
          <select name="valg" id="valg">
            <option value="">Vælg abonnementslængde</option>
            <option value="4 uger">4 uger - 700 kr.</option>
            <option value="6 uger">6 uger - 1050 kr.</option>
          </select>
        </div>
        <div class="hojre">
          <input
            class="andet"
            type="text"
            id="andet"
            name="andet"
            placeholder="Andet"
          />
          <a class="bestilling" href="">Gennemfør bestilling</a>
        </div>
      </div>
    </section>
    <div class="grid_1-1">
      <img
        class="abonnement_billed"
        src="/webp/abonnement.webp"
        alt="billede af Maria der plukker blomster"
      />
      <div class="down_section">
        <h3 class="beige h3_abonnement">
          Et abonnement hos <span>Gaardblomsten</span>
        </h3>
        <p class="beige">
          Fra juli til august kan du få glæden af friske, håndbundne buketter
          hver uge med vores blomsterabonnement. Alle blomster er dyrket her på
          marken, bliver nænsomt høstet og bundet med et personligt præg, før de
          lander hos dig.
        </p>
        <p class="beige">
          Hver buket er unik, sammensat af det, marken byder på netop den uge.
          Da vi dyrker alle blomster på friland og følger naturens rytme, er det
          vejret, der bestemmer, hvornår de er klar. Til gengæld kan vi love dig
          noget særligt: buketter, der er dugfriske, duftende og helt vores
          egne.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .step_by_step {
    margin: var(--margin-beige-mobile);
  }

  .hero {
    display: grid;
  }

  img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: auto;
  }

  h1 {
    text-align: center;
    font-size: var(--fontsize-h1);
  }

  h1 {
    padding-top: 40px;
  }

  .obs {
    text-align: center;
    padding-bottom: 10px;
  }

  h2 {
    font-family: "Afacad", sans-serif;
    font-size: var(--fontsize-h2);
    margin: 30px 0 10px 0;
  }

  h3 {
    font-family: "Libre Bodoni", serif;
    font-size: 35px;
  }

  .uger {
    line-height: 20px;
  }

  .valg_mellem {
    padding-top: 10px;
  }

  .section_lightgreen {
    background-color: var(--lightgreen);
  }

  .grid_1-1 {
    background-color: var(--mediumgreen);
    display: grid;
  }

  h1,
  h2,
  h3,
  p {
    color: var(--darkgreen);
  }

  .beige {
    color: var(--beige);
  }
  .h3_abonnement,
  .beige {
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .overskrift_form {
    font-size: 30px;
    padding: 40px 10px 0 10px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .venstre {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hojre {
    display: grid;
    grid-template-columns: 1fr;
  }

  input {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    color: var(--grey);
    font-family: var(--font-p);
  }

  select {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    color: var(--grey);
    font-family: var(--font-p);
  }

  .andet {
    padding: 70px;
  }

  .bestilling {
    color: var(--beige);
    text-decoration: none;
    background-color: var(--rosa);
    padding: 10px;
    text-align: center;
    font-family: var(--font-p);
    padding: 5px 10px 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  a:hover {
    background-color: var(--darkgreen);
  }

  span {
    font-family: "Oooh Baby", cursive;
    font-weight: lighter;
  }

  .down_section {
    padding: var(--padding-left_mobile);
  }

  .abonnement_billed {
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  /* til computer under */

  @media (min-width: 800px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }

    .section_lightgreen {
      padding: var(--padding-abonnement-desktop);
    }

    .del_3 {
      max-width: 80%;
    }

    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }

    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
    }

    /* Flyt billedet til anden kolonne */
    .abonnement_billed {
      grid-column: 2;
    }

    /* Flyt tekstsektionen til første kolonne */
    .down_section {
      grid-column: 1;
      padding: var(--padding-left_desktop);
    }
  }
</style>
