---
import Layout from "../layouts/Layout.astro";
// @ts-nocheck
---

<title>Blomster</title>
<Layout>
  <main>
    <!-- header element her -->
    <div class="mediumgreen grid_1-1">
      <div class="bestilling">
        <h1 class="praktisk_info_beige">Bestilling af blomster</h1>
        <p class="praktisk_info_beige">
          Hos os kan du bestille håndbundne buketter, lavet med blomster og
          grønt direkte fra vores egen blomstermark. Vi binder gerne efter dine
          ønsker om farver og form, og sørger for, at buketten bliver smukt
          indpakket og klar til at glæde dig eller en du holder af.
        </p>
        <strong><p class="praktisk_info_beige">Praktisk info:</p></strong>
        <ul>
          <li>- Bestil gerne minimum 2 dage i forvejen</li>
          <li>- Priser fra 200 kr.</li>
          <li>- Gratis levering i 4622 Havdrup og 2680 Solrød Strand</li>
          <li>- Levering udenfor disse områder kan tilkøbes</li>
          <li>- Friskhedsgaranti i 2 døgn</li>
        </ul>
        <p class="praktisk_info_beige">
          Send os en mail på <strong class="praktisk_info_beige"
            >gaardblomsten@gmail.com</strong
          > for at bestille. Vi aftaler tidspunkt for afhentning eller levering,
          når du skriver.
        </p>
      </div>
      <img
        class="bestilling_img"
        width="749"
        height="645"
        src="/webp/bestilling-short.webp"
        alt="billede af buket på bænk"
      />
    </div>

    <h2 class="tidligere_buketter">Tidligere buketter</h2>

    <div class="gallery">
      <div class="flex">
        <img
          class="img_fotokarrusel"
          src="/webp/buket1.webp"
          width="281"
          height="375"
          alt="billede3"
        />
        <img
          class="img_fotokarrusel"
          src="/webp/buket2.webp"
          width="281"
          height="375"
          alt="billede4"
        />
        <img
          class="img_fotokarrusel"
          src="/webp/buket3.webp"
          width="281"
          height="375"
          alt="billede5"
        />
      </div>
    </div>
    <div class="lightgreen grid_1-1">
      <div class="gaardblomstens_vejbod">
        <h1><span>Gaardblomstens</span> vejbod</h1>
        <p class="p_vejbod">
          I vores lille vejbod ved gården kan du finde friske, håndbundne
          buketter og blomsterbundter, alt sammen dyrket med kærlighed lige her
          på marken. Sæsonen begynder med smukke tulipaner i april, og som
          sommeren skrider frem, fyldes boden med farverige buketter og blomster
          som solsikker, dahlia og chrysantemum.
        </p>
        <p class="p_vejbod">
          Buketterne er pakket pænt ind, perfekte som en værtindegave eller bare
          lidt hverdagsglæde. Vejboden er selvbetjent, nem at få øje på fra
          vejen og med parkering lige ved siden af, så du let kan svinge forbi.
        </p>
        <strong><p class="praktisk_info">Praktisk info:</p></strong>
        <ul>
          <li>- Betaling med MobilePay</li>
          <li>- Åben fra april til september*</li>
          <li>- Hverdage kl. 10–17 & Lørdag-søndag kl. 09–16</li>
          <li>- Skolevej 67, 4622 Havdrup</li>
        </ul>
        <p class="praktisk_info">
          *Vejboden følger naturens rytme, så åbningstiderne kan variere i takt
          med vejret og blomstersæsonen. Følg med her på siden eller på vores
          Facebook og Instagram @gaardblomsten, hvor vi løbende opdaterer.
        </p>
      </div>
      <img
        src="/webp/vejbod.webp"
        width="749"
        height="748"
        alt="billede af maria på vej ind i sin vejbog med blomster over skulderen"
      />
    </div>
  </main>
</Layout>
<style>
  /* css reset */
  * {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
  }
  /* for mobil og generel */

  /* .grid_1-1 styling gør at billedet går helt ud til kanterne på mobilview  */

  .grid_1-1 {
    align-items: stretch; /* sikrer at begge kolonner har samme højde */
  }
  .grid_1-1 > .bestilling_img {
    width: 100vw;
    max-width: none;
    object-fit: cover;
    display: block;
  }
  /* padding på teskten i grid_1-1 */
  .bestilling {
    padding: var(--padding-right_mobile);
  }
  /* padding på teksten i grid_1-1 computer */
  .gaardblomstens_vejbod {
    padding: var(--padding-left_mobile);
  }
  .gallery {
    margin: var(--margin-beige-mobile);
    padding-bottom: 25px;
    /* background-color: var(--beige); */
  }
  /* al tekst darkgreen */

  * {
    color: var(--darkgreen);
  }

  h1 {
    padding-bottom: var(--global-padding-bottom-h1);
    margin-top: 20px;
  }
  h2 {
    padding-bottom: var(--global-padding-bottom-h2);
  }
  /* font for Gaardblomsten og så den bliver lighter */
  span {
    font-family: "Oooh Baby", cursive;
    font-weight: lighter;
  }
  /*padding for tidligere buketter sektionen */
  .tidligere_buketter {
    text-align: center;
    font-size: var(--fontsize-h2);
    padding-top: 60px;
  }

  /* padding for der hvor der står praktisk info og så er der li under, loven om nærhed */
  .praktisk_info {
    padding-top: 20px;
  }

  .flex {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @media (min-width: 1038px) {
    .flex {
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
      justify-content: center;
      gap: 50px;
    }
  }

  /* for at få praktisk info div beige */
  .bestilling {
    color: var(--beige);
  }

  .praktisk_info_beige {
    margin-top: 20px;
  }

  .praktisk_info_beige,
  li {
    color: var(--beige);
  }
  /* for at få sektionerne i farver */
  /* første sektion */
  .mediumgreen {
    background-color: var(--mediumgreen);
  }
  /* anden sektion */
  .lightgreen {
    background-color: var(--lightgreen);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (min-width: 1038px) {
    .img_fotokarrusel {
      max-width: none;
      max-height: none;
      height: 100%; /* Eller auto, alt efter hvad du vil opnå */
      width: auto; /* Eller 100% hvis du vil fylde hele flex-containerens højde */
    }
  }

  /* styling for list elementerne */
  ul,
  li {
    font-family: var(--font-p);
    font-size: var(--fontsize-p);
  }
  /* ingen padding ude i venstre side ved bindestregerne */
  ul {
    list-style-type: unset;
    padding-left: 0;
  }

  /* styling så list elementerne ikke har prikker men bindestreg */
  .ul,
  li {
    list-style: none; /* Fjern standardprikker */
    padding-left: 0;
  }

  /* Liste i .bestilling så dens skrift bliver beige */
  .bestilling ul li {
    color: var(--beige);
  }

  /* Liste i -lightgreen så dens skrift bliver darkgreen */
  .lightgreen ul li {
    color: var(--darkgreen);
  }

  .p_vejbod {
    margin-top: 20px;
  }

  /*************************************************************** FOR DESKTOP ****************************************************/
  @media (min-width: 800px) {
    /* grid for teskt og billede */
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: 20px; /* afstand mellem kolonnerne */
      /* align-items: start; justerer elementerne i toppen */
    }

    .grid_1-1 > .bestilling_img {
      height: auto;
      object-fit: cover;
      margin-left: 0;
      width: 100%;
      max-width: none;
      display: block;
    }
    /* så billedet fylder halvdelen af min main */
    .grid_1-1 > bestilling {
      max-width: 50%; /* halvdelen af din main */
    }

    /* for at få billede til venstre på desktop, lav om på orderen */
    .bestilling_img {
      order: -1;
    }

    .grid_1-1 img {
      width: 100%;
      height: auto;
      display: block;
    }

    p {
      padding-bottom: 10px;
    }
    .flex {
      overflow-x: none;
      overflow-y: none;
    }
    .bestilling {
      padding: var(--padding-desktop);
    }

    .gaardblomstens_vejbod {
      padding: var(--padding-left_desktop);
    }

    .gallery {
      padding: 0 100px 25px 100px;
    }
  }
</style>
