---
import Layout from '../layouts/Layout.astro';

---

<Layout>
</Layout>

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen til Gaardblomsten</title>
</head>
<body>
<header></header>

<main>
    <section class="hero">
        <!-- her skal der indsættes en hero video -->
    </section>
    <h1>Velkommen til Gaardblomsten </h1>

    <!-- herunder er billeder med links videre -->
    <section>
        <div class="grid_1-1-1">
            <div>
            <a href="/blomster">
<img src="" alt="">
<h2>Blomster</h2>
            </a>
            </div>
            <div>
            <a href="/abonnement">
<img src="" alt="">
<h2>Abonnement</h2>
            </a>
            </div>
            <div>
            <a href="/workshop">
<img src="" alt="">
<h2>Workshop</h2>
            </a>
            </div>
        </div>
    </section>

<!-- herunder kommer 'Om Gaardblomsten' -->
    <div class="grid_1-1">

        <div>
            <h3>Om Gaardblomsten</h3>
            <p>Bag Gaardblomsten finder du Maria og Henning. Vi bor på gården Højstrup sammen med vores tre børn og hund. På gården ligger vores blomstermark og vejbod. Vi er et stærkt team, og sammen får vi det hele til at rulle på gården. Vi er 4. generation på gården efter Marias familie med dybe rødder i landbruget. Der har i mange år været dyrket landbrug fra gården og nu har vi også specialiseret os i dyrkning af blomster og græskar.</p>
        </div>
        <img src="" alt="billede af Maria i blomstermarken">
    </div>
	
    <!-- her indsættes nyhedsbrev -->

</main>

<footer></footer>
    
</body>
</html>
