---
import Event from "../components/Event.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Workshop</h1>
    <Event />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    color: var(--darkgreen);
  }

  main {
    background-color: var(--lightgreen);
  }
</style>
