---
//@ts-nocheck

import Event from "../components/Event.astro";
import Layout from "../layouts/Layout.astro";

// const url =
//   "https://zzemvifmqicszywpsymv.supabase.co/rest/v1/gaardblomsten_events?select=*";

// const key =
//   "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6ZW12aWZtcWljc3p5d3BzeW12Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczOTM5NDYsImV4cCI6MjA2Mjk2OTk0Nn0.6Wo9SZdmqBfwwoXNOJazG-1kSGf7ZjeWJxYh2UQpZ7Y";
// const options = {
//   headers: {
//     //det der står oppe i 'linket' på hjemmesiden
//     apikey: key,
//   },
// };

const data = await fetch(
  "https://zzemvifmqicszywpsymv.supabase.co/rest/v1/gaardblomsten_events?select=*",
  {
    headers: {
      //det der står oppe i 'linket' på hjemmesiden
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6ZW12aWZtcWljc3p5d3BzeW12Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczOTM5NDYsImV4cCI6MjA2Mjk2OTk0Nn0.6Wo9SZdmqBfwwoXNOJazG-1kSGf7ZjeWJxYh2UQpZ7Y",
    },
  },
).then((res) => res.json());
// await betyder den venter med at gøre noget indtil alt er loadet
// fetch gør at den hender det der står - i dette tilfælde constanteren url og options. options er der key ligger
// res betyder den henter resultatet som json

//skal skrive console.log
---

<Layout>
  <main>
    <h1>Workshop</h1>
    <!-- <Event />-->
    <!-- {data.map((event) => <Event eventdata={event} />)} -->
    {
      data.map((event) => {
        return <Event eventdata={event} />;
      })
    }

    <!-- parameter kommentaren er en ligegyldig advarsel fra supabase  -->
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    color: var(--darkgreen);
  }

  main {
    background-color: var(--lightgreen);
  }
</style>
