/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100%;
  /* max-width: 1120px; */
  margin-inline: auto;
  background-color: #f2efe8;
}
