@import "layout.css";

/* her er vores generelle style  */

/* herunder defineres vores variables */
/* variables for fonte */
:root {
  --font-p: "Afacad", sans-serif;
  --font-heading: "Libre Bodoni", serif;
}
/* variables for farver */
:root {
  --beige: #f2efe8;
  --darkgreen: #1e3006;
  --mediumgreen: #70886b;
  --lightgreen: #abc1a6;
  --rosa: #c79897;
  --grey: #7d7d7d;
  --lightgrey: #afaeab;
  --lightbeige: #faf9f5;
}

/* variabler for font størrelser */
:root {
  --fontsize-h1: 40px;
  --fontsize-h4: 30px;
  --fontsize-p: 16px;
}
/* varaibler til padding og margin constants */
:root {
  --global-margin-max-width: 1600px;
  /* margin for alt når det bliver større end 1600 px */
  --padding-left_mobile: 25px 30px 20px 70px;
  /* paddin i venstre side på mobil*/
  --padding-right_mobile: 25px 70px 20px 30px;
  /* padding i venstre side på mobil */
  --margin-beige-mobile: 25px 50px 20px 50px;
  /* margin på beige sektioner på mobil */
  --margin-workshop-mobile: 10px 40px 10px 40px;
  /* margin for listy vowe af workshopsne for mobil */
  --padding-abonnement-mobil: 10px 60px 10px 60px;
  /* padding for abbonnemnt tilmeldnings sektionen til mobil */
}

:root {
  --global-margin-max-width: 1600px;
  /* margin for alt når det vliver større end 1600 px */
  --padding-left_desktop: 10px 60px 5px 100px;
  /* paddin i venstre side på computer*/
  --padding-desktop: 10px 1000px 10px 60px;
  /* padding i venstre side på computer */
  --margin-beige-desktop: 10px 80px 10px 80px;
  /* margin på beige sektioner på computer */
  --margin-workshop-mobile: 20px 80px 20px 80px;
  /* margin for listy vowe af workshopsne for computer */
  --padding-abonnement-mobil: 20px 120px 20px 120px;
  /* padding for abbonnemnt tilmeldnings sektionen til computer */
}

:root {
  --global-padding-bottom-h1: 10px;
  --global-padding-bottom-h2: 10px;
}

/* brug af viariablerne til fonte  */
p {
  font-family: var(--font-p);
  font-size: var(--fontsize-p);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

/* brug af viablerne til størrelser */
h1 {
  font-size: var(--fontsize-h1);
}
h4 {
  font-size: var(--fontsize-h4);
}

/* font bodoni libre */
.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* font afacad */
.afacad {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font oooh baby */
.oooh-baby-regular {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}
